---
---

/* Reset and Base Styles */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #f9f9f9;
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.6;
  font-weight: 300;
  color: #111;
  -webkit-text-size-adjust: 100%;
}

/* Typography */
body,
td,
th,
tr,
p,
a {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 15px;
}

h1 {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 400;
  text-align: left;
  padding: 0px;
  margin: 0px;
}

h2 {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 400;
  padding: 0px 0px 10px 0px;
  margin: 20px 0px 10px 0px;
  border-bottom: 2px solid #9b3022;
}

h3 {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 0px;
  margin: 0px;
}

strong {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
}

/* Links */
a {
  color: #2a7ae2;
  text-decoration: none;
}

a:visited {
  color: #1756a9;
}

a:hover {
  color: #111;
  text-decoration: underline;
}

/* Wrapper */
.wrapper {
  max-width: calc(1024px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

@media screen and (max-width: 800px) {
  .wrapper {
    max-width: calc(1024px - 30px);
    padding-right: 15px;
    padding-left: 15px;
  }
}


/* Header/Navigation */
.site-header {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.menu-toggle {
  background-color: white;
  border: 2px solid #e8e8e8;
  border-radius: 8px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  font-size: 20px;
  color: #333;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}


.site-nav {
  position: absolute;
  top: 60px;
  right: 0;
  background-color: white;
  border: 2px solid #e8e8e8;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  padding: 10px 0;
  min-width: 200px;
  display: none;
  flex-direction: column;
}

.site-nav.show {
  display: flex;
}

.site-nav .page-link {
  font-weight: 400;
  color: #333;
  padding: 12px 20px;
  display: block;
  text-align: left;
}


/* Hero Section / Profile Cover */
.cover {
  max-width: 100%;
  height: 320px;
  z-index: initial;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
}

@media screen and (max-width: 600px) {
  .cover {
    height: 400px;
  }
}

.shallow-bg {
  background-image: url('../images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 20%;
}

/* Profile Card */
.profile-wrapper {
  border-radius: 25px;
  position: relative;
  top: 20%;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 600px) {
  .profile-wrapper {
    top: 5%;
    border-radius: 25px;
    position: relative;
    width: calc(90% - 15px);
    margin-left: auto;
    margin-right: auto;
  }
}

.wrapper-light {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
}

.profile-col {
  float: left !important;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.profile-col-1 {
  width: calc(40% - 15px);
}

.profile-col-2 {
  width: calc(60% - 15px);
  text-align: center;
}

@media screen and (max-width: 600px) {
  .profile-col {
    position: relative;
    margin: 10px auto;
    float: none;
    width: 100%;
  }
}

.profile-col:after {
  content: "";
  display: table;
  clear: both;
}

.profile-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.circle-img {
  margin: 0px auto;
  width: 168px;
  height: 168px;
  object-fit: cover;
  border-width: 4px;
  border-style: solid;
  border-radius: 50%;
}

.border-dark {
  border-color: #292929;
}

/* Profile Text */
#my-name {
  font-size: 32px;
  font-weight: bold;
  color: #292929;
  margin-bottom: 5px;
}

#my-title {
  font-size: 18px;
  color: #333;
  font-weight: 400;
  margin-bottom: 5px;
}

#my-email {
  font-size: 14px;
  color: #555;
  font-weight: 400;
  margin-bottom: 10px;
}

/* Social Icons */
.icon-button {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.8rem;
  height: 3.6rem;
  line-height: 3.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  width: 3.6rem;
  border: 2px solid rgba(255, 255, 255, 0.3);
}

.icon-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.5);
}

.icon-button span {
  display: none;
}

.twitter span {
  background-color: #4099ff;
}

.linkedin span {
  background-color: #0077B5;
}

.github span {
  background-color: #000;
}

.icon-button i {
  background: none;
  color: #555;
  height: 3.6rem;
  left: 0;
  line-height: 3.6rem;
  position: absolute;
  top: 0;
  width: 3.6rem;
  z-index: 10;
}

.icon-button .icon-twitter {
  color: #4099ff;
}

.icon-button .icon-github {
  color: #000;
}

.icon-button .icon-linkedin {
  color: #0077B5;
}


/* Page Content */
.page-content {
  padding: 30px 0;
}

/* Bio/About Section */
.bio {
  max-width: calc(100% - 15px);
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.bio-body {
  margin: 10px 0px;
  padding: 0px;
}

.bio-body p {
  margin-bottom: 15px;
  text-align: justify;
}

.bio-body ul {
  margin-left: 30px;
}

.bio-body li {
  margin-bottom: 5px;
}

/* Publications Section */
.publications {
  max-width: calc(100% - 15px);
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
}

.pub-list {
  overflow: visible;
}

.pub {
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 15px 0;
  border-bottom: 1px solid #e8e8e8;
  clear: both;
}

.pub::after {
  content: "";
  display: table;
  clear: both;
}

.pub-left {
  float: left;
  width: calc(35% - 15px);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.pub-left > .intro-img {
  width: 100%;
  max-width: 280px;
  height: auto;
  border: 2px solid #e8e8e8;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.pub-left > .intro-img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.pub-right {
  float: right;
  width: calc(65% - 15px);
}

@media screen and (max-width: 800px) {
  .pub-left,
  .pub-right {
    float: none;
    margin: 10px auto;
    width: calc(100% - 15px);
  }
  
  .pub-left {
    text-align: center;
  }
}

.pub-right > .title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
  color: #111;
}

.pub-right > .authors {
  color: #555;
  font-weight: 400;
  margin-bottom: 5px;
  font-size: 15px;
}

.pub-right > .authors strong {
  color: #111;
  font-weight: 600;
}

.pub-right > .publish {
  margin-bottom: 8px;
}

.pub-right > .publish > .publisher {
  color: #666;
  font-size: 15px;
  font-style: italic;
}

.pub-right > .tags {
  margin-bottom: 8px;
}

.pub-right > .tags a {
  color: #2a7ae2;
  font-weight: 500;
  font-size: 15px;
  margin-right: 8px;
}


.pub-right > .desc > p {
  margin: 8px 0px;
  font-size: 15px;
  color: #555;
  text-align: justify;
}

/* Footer */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0;
  background-color: white;
  margin-top: 40px;
}

.footer-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fafafa;
  padding: 18px 20px;
  border-radius: 18px;
}

.footer-col {
  flex: 1;
}

.footer-col-1 {
  text-align: left;
}

.footer-col-2 {
  text-align: center;
}

.footer-col-3 {
  text-align: right;
}

@media (max-width: 800px) {
  .footer-row {
    flex-direction: column;
    gap: 12px;
    text-align: center;
  }
  
  .footer-col-1,
  .footer-col-2,
  .footer-col-3 {
    text-align: center !important;
  }
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
  body {
    font-size: 15px;
  }
  
  h1 {
    font-size: 28px;
  }
  
  h2 {
    font-size: 20px;
  }
  
  .bio-body p {
    text-align: left;
  }
}

/* Collapsible Section */
.collapsible-header {
  cursor: pointer;
  user-select: none;
  position: relative;
}


.toggle-icon {
  float: right;
  font-size: 18px;
}

.collapsible-content {
  display: block;
  overflow: hidden;
}

/* Utility Classes */
.hide {
  display: none;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
